@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height:0px;
}
html {
  scroll-behavior: smooth;
}
button{
  @apply font-mono;
}
.header{
  min-height: calc(100vh - var(--navbar-height));
}
